.biolink {
    &-or {
        width: 100%;
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        border: none;
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        padding: 24px 15px;
        span {
            padding: 0 5px;
        }
        &::before,
        &::after {
            content: "";
            border-bottom: 2px solid rgb(166, 164, 164);
            flex: 1 0 auto;
            height: 0.5rem;
            margin: 0;
        }
    }
    &-login {
        display: flex;
        justify-content: center;
        background: black;
        @media (max-width: 426px) {
            background: white;
        }
        &__container {
            background: white;
            margin: 50px 0;
            width: 400px;
            height: 800px;
            border-radius: 10px;
            @media (max-width: 426px) {
                margin: 0;
            }
        }
        &__header {
            text-align: center;
            &-logo {
                color: $biolink-primary;
                margin-bottom: 30px;
                margin-top: 50px;
            }
            h1 {
                font-size: 24px;
                font-weight: 500;
                margin-top: 20px;
                margin-bottom: 25px;
            }
        }
        &__form {
            width: 80%;
            margin: auto;
            &--forgot {
                text-decoration: none;
                color: $biolink-primary;
                font-weight: 500;
            }
        }
        p {
            margin-top: 10px;
        }
    }
}

.form-control {
    border-width: 2px;
    &::placeholder {
        font-size: 40px;
        color: $biolink-primary;
    }
    &:focus {
        box-shadow: none;
        border-color: $biolink-primary;
    }
}