@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');
.biolink {
    &-hero {
        background-color: $biolink-secondary;
        margin-top: 0;
        @media (max-width: 426px) {
            padding-bottom: 50px;
        }
        &__component {
            padding-top: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            &-content {
                &-ptag {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    background-color: $biolink-primary;
                    padding: 10px 30px 10px 15px;
                    color: $biolink-white;
                    width: fit-content;
                    border-radius: 20px;
                    letter-spacing: 1px;
                    margin: auto;
                }
            }
            &-heading {
                text-align: center;
                font-family: Space Grotesk, sans-serif;
                h1 {
                    font-size: 60px;
                    padding: 30px 0;
                    line-height: 1;
                    color: $biolink-primary;
                    line-height: 1;
                    letter-spacing: 1px;
                }
                span {
                    font-size: 30px;
                    color: rgb(82 82 82);
                }
            }
            &-form {
                width: 60%;
                font-size: 30px;
                margin: auto;
                margin-top: 50px;
                @media (max-width: 768px) {
                    font-size: 18px;
                }
                @media (max-width: 560px) {
                    width: 100%;
                }
                label {
                    color: rgba(0, 0, 0, 0.3);
                    align-items: center;
                    justify-content: center;
                    height: 60px;
                    // background: $biolink-white;
                    display: flex;
                    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #feab2f, #ce64b7) border-box;
                    border-radius: 50em;
                    border: 2px solid transparent;
                    padding: 0.5rem 0.75rem 0.5rem 2rem;
                    input {
                        color: $biolink-black;
                        border: none;
                        background: transparent;
                        outline: none;
                        width: 50%;
                        flex: 1;
                        font-size: 1.6rem;
                    }
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        border-radius: 50%;
                        width: 45px;
                        height: 45px;
                        background: linear-gradient(to right, #feab2f, #ce64b7);
                        color: $biolink-white;
                        @media (max-width: 768px) {
                            font-size: 20px;
                            padding: 10px;
                        }
                    }
                }
            }
            &-example {
                margin: auto
            }
            &-span1 {
                font-size: 1.6rem;
            }
            &-span2 {
                font-size: 1rem;
                margin-left: 30px;
            }
        }
    }
}