@import "variable";
.biolink-container {
    padding: 0 20rem 0 20rem;
    @media (max-width: 1375px) {
        padding: 0 10rem 0 10rem;
    }
    @media (max-width: 1093px) {
        padding: 0 5rem 0 5rem;
    }
    @media (max-width: 769px) {
        padding: 0;
    }
}

.biolink-hide {
    @media (max-width: 426px) {
        display: none;
    }
}

.biolink-cta {
    text-decoration: none;
    font-weight: bold;
    color: $biolink-primary;
    &:hover {
        color: rgb(241, 58, 21);
    }
}

.biolink--gap {
    gap: 30rem;
}

.biolink-button {
    width: 100%;
    background: $biolink-primary;
    color: white;
    margin-top: 20px;
    font-size: 1rem;
    padding: 15px 0;
    &:hover {
        background: rgb(234, 88, 59);
        color: white;
    }
    &:focus-visible {
        color: white;
        background-color: rgb(234, 88, 59);
        outline: -webkit-focus-ring-color auto 1px;
    }
}

.biolink-visible {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
}

.biolink-invisible {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    display: none;
}

.biolink-error {
    color: red;
    margin-bottom: 8px;
}

.biolink__button-primary {
    border-color: $biolink-primary !important;
    color: $biolink-primary;
    font-size: 1.1rem;
    &:hover {
        background-color: $biolink-primary;
        color: $biolink-white;
        border-color: $biolink-white;
    }
}