@import "variable";
.biolink-container {
    padding: 0 20rem 0 20rem;
    @media (max-width: 1375px) {
        padding: 0 10rem 0 10rem;
    }
    @media (max-width: 1093px) {
        padding: 0 5rem 0 5rem;
    }
    @media (max-width: 769px) {
        padding: 0;
    }
}

.biolink-hide {
    @media (max-width: 426px) {
        display: none;
    }
}

.biolink-cta {
    text-decoration: none;
    font-weight: bold;
    color: $biolink-primary;
    &:hover {
        color: rgb(241, 58, 21);
    }
}

.biolink--gap {
    gap: 30rem;
}

.biolink-button {
    width: 100%;
    background: $biolink-primary;
    color: white;
    margin-top: 20px;
    font-size: 1rem;
    padding: 15px 0;
    &:hover {
        background: rgb(234, 88, 59);
        color: white;
    }
    &:focus-visible {
        color: white;
        background-color: rgb(234, 88, 59);
        outline: -webkit-focus-ring-color auto 1px;
    }
}

.biolink-visible {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
}

.biolink-invisible {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    display: none;
}

.biolink-error {
    color: red;
    margin-bottom: 8px;
}

.biolink__button-primary {
    border-color: $biolink-primary !important;
    color: $biolink-primary;
    font-size: 1.1rem;
    &:hover {
        background-color: $biolink-primary;
        color: $biolink-white;
        border-color: $biolink-white;
    }
}

.biolink-progressCont {
    display: flex;
    justify-content: space-around;
    background: white;
    box-shadow: 0 7px 21px -8px rgb(0 0 0 / 30%);
    position: fixed;
    padding: 20px;
    bottom: 20px;
    border-radius: 10px;
    align-items: center;
    gap: 30px;
    width: 40%;
    @media (max-width: 769px) {
        width: 90%;
    }
    progress {
        height: 30px;
        color: red;
    }
    &-btn1 {
        padding: 0.5rem 1rem;
        background: rgb(245 243 255);
        border: none;
        color: black;
        width: auto;
        margin: 0;
        &:hover {
            background: rgb(224, 219, 248);
            color: black;
        }
    }
    &-btn2 {
        width: auto;
        padding: 0.5rem 1rem;
        background: $biolink-primary;
        border: none;
        margin: 0;
        color: white;
    }
}

.biolink-or {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: none;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 24px 15px;
    span {
        padding: 0 5px;
    }
    &::before,
    &::after {
        content: "";
        border-bottom: 2px solid rgba(166, 164, 164, 0.199);
        flex: 1 0 auto;
        height: 0.5rem;
        margin: 0;
    }
}

.biolink-input {
    p {
        margin-bottom: 5px;
    }
    label {
        color: rgba(0, 0, 0, 0.3);
        align-items: center;
        justify-content: center;
        height: 40px;
        // background: $biolink-white;
        border-radius: 4px;
        display: flex;
        background: linear-gradient(white, white) padding-box, linear-gradient(to right, #feab2f, #ce64b7) border-box;
        border: 2px solid transparent;
        padding: 0.5rem 0.75rem 0.5rem 0.5rem;
        input {
            color: $biolink-black;
            border: none;
            background: transparent;
            outline: none;
            width: 50%;
            flex: 1;
            font-size: 1rem;
        }
        span {
            svg {
                margin-right: 10px;
            }
        }
    }
}

.biolink-google-signin {
    background-color: white;
    color: black;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 0;
    gap: 20px;
    svg {
        margin-left: 20px;
    }
    span {
        font-size: 18px;
    }
    transition: all 0.3s ease;
    &:hover {
        background-color: rgb(224, 222, 222);
        color: black;
        border: 1px solid #b4b6b8;
    }
}