.biolink {
    &-header {
        // &--modifier {}
        &__links {
            &--modifier {
                justify-content: space-between;
            }
        }
        &__link {
            &--modifier {
                padding: 0.4rem 1rem !important;
                font-size: 1.1rem;
                color: inherit;
                &:focus,
                &:hover {
                    color: $biolink-primary
                }
            }
        }
        &__brand {
            color: $biolink-primary;
        }
    }
}